

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 414px) { 
    .logo{
        width: 100px;
        height: 30px;
    }
    .logo img{
        width: 100%;
        margin-top: -10px;
    }
    .hero-content h1 {
        font-size: 2.6rem !important;
        text-align: center;
    }
    .hero-content a {
        font-size: 1.2rem !important;
        padding: 11px 18px !important;
        width: 160px !important;
    }
    .hero-content p {
        text-align: center !important;
        font-size: 1.3rem !important; 
        margin: 30px 30px !important;
    }
    .navbar{
        height: 60px;
    }
    .intro-feature-img {
        min-height: 320px;
    }
    .intro-feature-img img{
        width: 60%;
    }
    .intro-content-right {
        min-height: 270px;
    }
    .intro-content-right p {
        font-size: 1.5rem;
        width: 85%;
    }
    .service-content h2 {
        font-size: 3rem;
    }
    .service-content p {
        font-size: 1.5rem;
        width: 84%;
        padding: 20px 0 60px 0;
    }
    .single-text-content a {
        font-size: 1.1rem;
        padding: 14px 16px;
        width: 40% !important;
        margin-bottom: 28px;
    
    }
    .opt-in-form {
        margin-left: -80px !important;
    }
    .opt-in-form input[type="email"] {
        width: 118% !important;
    }
    .work-left-col .sign-up-btn {
        font-size: 1.2rem !important;
        width: 43% !important;
        padding: 11px 25px;
    }
    .work-left-col .watch-btn{
        font-size: 1.2rem !important;
        width: 43% !important;
    }
    .card-text p {
        font-size: 1.2rem !important;
    }
    .num-label .num {
        font-size: 2.8rem !important;
    }
    .label{
        font-size: 1.2rem;
    }
    .num-label::before {
        top: -4px !important;
        height: 72px !important;
    }
    .footer-widget img{
        width: 100%;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
    .section-padding{
        padding: 50px 0;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .hero-content h1 {
        font-size: 4rem;
        text-align: center;
    }
    .hero-content p {
        text-align: center !important;
        font-size: 1.5rem;
        margin: 30px 106px;
    } 
    .intro-content-right {
        padding: 0 17px;
    }
    .intro-content-right h2 {
        font-size: 3rem;
    }
   
    .intro-content-right p {
        font-size: 1.5rem;
        color: #4b4b4d;
        padding: 15px 0;
    }
    .intro-content-right a {
        padding: 10px 21px;
        font-size: 1.4rem;
    }
    .single-text-content a {
        width: 47%;
        -webkit-transform: translate(-50%, 11%) !important; 
        transform: translate(-50%, 11%) !important;
    }
    .work-left-col {
        margin-left: 0;
    }
    .work-left-col .work-main-para {
        width: 100% !important;
        margin-top: 19px !important;
        font-size: 1.5rem !important;
    }
    .num-label::before {
        right: -6px;
    }
    .imp-links {
        padding-top: 0;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    .hero-content a {
        font-size: 1.4rem;
        padding: 11px 41px;
        width: 182px;
    }
    .navbar-nav .nav-link {
        font-size: 1.6rem;
    }
    .single-text-content h3 {
        font-size: 1.6rem;
        padding: 24px 10px 10px;
    }
    .single-text-content p {
        color: #4b4b4d;
        line-height: 2rem;
        padding: 0 25px;
    }
    .single-text-content a {
        font-size: 1.2rem;
        padding: 13px 16px;
        width: 47%;
        -webkit-transform: translate(-50%, -120%);
        transform: translate(-50%, -120%);
    }
    .opt-in-content p {
        font-size: 1.46rem;
    }
    .opt-in-content h3 {
        font-size: 2.8rem;
    }
    .opt-in-form {
        margin-left: -40px;
    }
    .opt-in-form button {
        padding: 15px 30px;
        width: 37%;
        padding: 14px;
        font-size: 1.25rem;
    }
    .opt-in-form input[type="email"] {
        padding: 14px;
        font-size: 1.25rem;
    }
    .num-label {
        width: 16%;
    }
    .num-label .num {
        font-size: 4rem;
    }
    .num-label::before {
        top: 4px;
        height: 81px;
    }
    .card-text {
        margin-left: 22px;
    }
    .card-text p {
        font-size: 1.4rem;
    }
    .work-left-col .work-main-para {
        width: 320px;
        margin-top: 19px;
        font-size: 1.5rem;
    }
    .work-left-col .sign-up-btn {
        font-size: 1.4rem;
        width: 46%;
        padding: 11px 25px;
    }
    .work-left-col .watch-btn {
        
        font-size: 1.4rem;
        width: 46%;
        padding: 11px 25px;
    }
    .imp-links li a {
        font-size: 1.4rem;
    }
    .footer-widget p{
        font-size: 1.4rem !important;
    }
    .footer-widget a{
        font-size: 1.4rem !important;
    }
 }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }
